workflows/imports/workflow_import_test_http.json
{
  "name": "IMPORT_TEST_HTTP",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-4a11-9f11-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [420, 320],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-f6a1-4b22-9f22-222222222222",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 320],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5678/healthz",
        "responseFormat": "json",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a1b2-4c33-9f33-333333333333",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [930, 320],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "status", "value": "={{$json[\"status\"] || $json}}" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Set", "type": "main", "index": 0 }]]
    }
  }
}
